<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <form action="/"  method="post">
      <input type="text" name="brand_name" placeholder="Brand name">
      <input type="submit">
      <input type="text" name="brand_ethical" placeholder="Ethical?">
      <input type="submit">
      <input type="text" name="brand_sustainable" placeholder="Sustainable?">
      <input type="submit">
      <input type="text" name="brand_description" placeholder="Description">
      <input type="submit">
      <input type="text" name="brand_certificates" placeholder="Certificates">
      <input type="submit">
    </form>
    <ul>
      <% brand.forEach(brand => { %>
        <li><%= brand.name %></li>
      <% }) %>
    </ul>
  </body>
</html>
